.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
tsconfig.json
esbuild.js
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
.wdio-vscode-service/**
target/**
test/**
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
.vscode-test.mjs