name: CI

on: [push, pull_request]

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Connect your workspace on nx.app and uncomment this to enable task distribution.
      # The "--stop-agents-after" is optional, but allows idle agents to shut down once the "e2e-ci" targets have been requested
      # - run: npx nx-cloud start-ci-run --distribute-on="5 linux-medium-js" --stop-agents-after="e2e-ci"

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      # Cache node_modules
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: PNPM Install
        run: pnpm install --frozen-lockfile
      - name: Compile Package
        run: pnpm run compile
      - name: Compile Tests
        run: pnpm run compile:tests
      - name: Run Tests (Linux)
        run: xvfb-run -a pnpm run test:e2e
        if: runner.os == 'Linux'
      - name: Run Tests
        run: pnpm run test:all
        if: runner.os != 'Linux'
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: logs
          path: test/e2e/logs
